<div class="oppia-same-row-container">
  <form class="search-bar-float-left oppia-search-bar-form" role="search">
    <div class="form-group">
      <div class="input-group oppia-input-group inptcls" [ngClass]="{'classroom-page-input-group': isSearchButtonActive()}">
        <input type="text"
               class="form-control oppia-search-bar-input oppia-search-bar-text-input e2e-test-search-input"
               [placeholder]="searchBarPlaceholder"
               [(ngModel)]="searchQuery"
               (ngModelChange)="searchButtonIsActive ? null : onSearchQueryChangeExec()"
               [ngModelOptions]="{ updateOn: 'blur', standalone:'true' }"
               aria-label="Search bar"
               (keydown.enter)="$event.target.blur(); onSearchQueryChangeExec()"
               (input)="searchToBeExec($event)">
        <div class="input-group-addon oppia-search-bar-icon">
          <i class="fas fa-search oppia-translate-icon-down md-18" *ngIf="!isSearchInProgress()"></i>
          <span *ngIf="isSearchInProgress()">
            <i class="fas fa-sync oppia-animate-spin"></i>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="oppia-search-filters-container" *ngIf="enableFilters">
  <div class="oppia-search-filters-subject" *ngIf="!isMobileViewActive()">
    <mat-card class="oppia-filter-container">
      <mat-card-content class="oppia-filter-header">
        <h3>{{ 'I18N_LIBRARY_SELECT_SUBJECT' | translate }}</h3>
        <hr class="oppia-filter-header-divider">
      </mat-card-content>
      <mat-card-content class="oppia-filter-options">
        <div class="oppia-filter-checkbox-container" *ngIf="!isMobileViewActive()">
          <mat-checkbox class="oppia-filter-checkbox"
          *ngFor="let subject of selectionDetails.categories.masterList | slice:0:4"
          [ngModel]="selectionDetails.categories.selections[subject.id]"
          (ngModelChange)="toggleSelection('categories',subject.id); onSearchQueryChangeExec()">
            {{ subject.text | translate }}
          </mat-checkbox>
        </div>
        <span class="oppia-search-filter-link-arrow">&gt;</span>
        <a href="#" class="oppia-search-filter-link" (click)="openFilterModal('categories')">
          {{ 'I18N_LIBRARY_SELECT_ALL_SUBJECTS' | translate }}
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="oppia-search-filters-language" *ngIf="!isMobileViewActive()">
    <mat-card class="oppia-filter-container">
      <mat-card-content class="oppia-filter-header">
        <h3>{{'I18N_LIBRARY_SELECT_LANGUAGE' | translate }}</h3>
        <hr class="oppia-filter-header-divider">
      </mat-card-content>
      <mat-card-content class="oppia-filter-options">
        <div class="oppia-filter-checkbox-container" *ngIf="!isMobileViewActive()">
          <mat-checkbox class="oppia-filter-checkbox"
          *ngFor="let language of selectionDetails.languageCodes.masterList | slice:0:4"
          [ngModel]="selectionDetails.languageCodes.selections[language.id]"
          (ngModelChange)="toggleSelection('languageCodes',language.id); onSearchQueryChangeExec()">
            {{ language.text | translate }}
          </mat-checkbox>
        </div>
        <span class="oppia-search-filter-link-arrow">&gt;</span>
        <a href="#" class="oppia-search-filter-link" (click)="openFilterModal('languageCodes')">
          {{ 'I18N_LIBRARY_SELECT_ALL_LANGUAGES' | translate }}
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <button class="oppia-search-filters-subject-mobile"
  *ngIf="isMobileViewActive()" (click)="openFilterModal('categories')">
    <h3>{{ 'I18N_LIBRARY_SELECT_SUBJECT' | translate }}</h3>
  </button>
  <button class="oppia-search-filter-language-mobile"
  *ngIf="isMobileViewActive()" (click)="openFilterModal('languageCodes')">
    <h3>{{ 'I18N_LIBRARY_SELECT_LANGUAGE' | translate }}</h3>
  </button>
</div>
<style>
  :lang(ar) .oppia-search-bar-dropdown-toggle-button:after {
     margin-right: 30px;
  }
  :lang(ar) .oppia-search-bar-dropdown-toggle:after {
    margin-right: 2px;
  }
  @media (max-width: 445px) {

.classroom-page-input-group.inptcls {
      font-size: 15.7px;
      width: 14em;
 }

/* stylelint-disable order/properties-alphabetical-order */
.search-bar-float-left .oppia-search-bar-dropdown-toggle.catbtn {
  font-size: 13px;
  position: relative;
  left: 5rem;
  width: 11em;
}
.oppia-search-bar-language-selector .langbtn {
  font-size: 13px;
  position: relative;
  left: 3rem;
  width: 11em;
}
  /* stylelint-enable order/properties-alphabetical-order */
  :lang(ar) .classroom-page-input-group.inptcls {
    font-size: 12px;
    width: 14em;
  }
  :lang(ar) .search-bar-float-left .oppia-search-bar-dropdown-toggle.catbtn {
 font-size: 13px;
 position: relative;
 right: 9rem;
 width: 10em;
  }
  :lang(ar) .oppia-search-bar-language-selector .langbtn {
 font-size: 13px;
 padding-left: 3rem;
 position: relative;
 right: 8rem;
 width: 10em;
  }
}
@media (max-width : 340px) {

 :lang(ar) .oppia-search-bar-language-selector .langbtn {
 font-size: 13px;
 padding-left: 3rem;
 position: relative;
 right: 8rem;
 width: 10em;
  }
}
@media (max-width : 285px) {
  .classroom-page-input-group.inptcls {
    font-size: 13.4px;
    width: 13.4em;
  }
  .search-bar-float-left .oppia-search-bar-dropdown-toggle.catbtn {
  font-size: 10px;
 left: 10rem;
 width: 12em;
  }
  .oppia-search-bar-language-selector .langbtn {
    font-size: 10px;
    left: 4.8rem;
    width: 12em;
  }
}
</style>
